*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/release
*.jks
*.keystore
*.b64
keystore/
keystore.properties
storepass.txt
keypass.txt
local.properties
app/upload-keystore.jks
